* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f9fafa;
  color: #333;
  line-height: 1.6;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  background: #ffffff;
  border-bottom: 1px solid #e2e2e2;
  padding: 25px 0;
  overflow: hidden;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: #0077cc;
  padding: 10px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 7px 12px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  background-color: #d9d9d974;
  transition: 0.3s ease;
}

.menu a:hover {
  background-color: #f9f8f8;
}

.content {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 0 1rem;
}
.subtitle {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  color: #666;
  text-indent: 0.2em;
}
section {
  margin-bottom: 3rem;
}

.cards {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.card {
  background: white;
  border: 1px solid #eee;
  border-radius: 8px;
  width: 300px;
  padding-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  transition: 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.imagem {
  height: 298.4px;
}

.card h3 {
  margin: 1rem;
  font-size: 1.1rem;
  color: #111;
}

.card p {
  margin: 0 1rem;
  font-size: 0.9rem;
  color: #666;
}
footer {
  text-align: center;
  padding: 30px 20px;
  background: #f1f1f1;
  margin-top: 40px;
  color: #222;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  margin: 0 10px;
  color: #555;
  text-decoration: none;
  font-size: 0.9rem;
}

footer p {
  font-size: 0.9rem;
  color: #888;
}
